body {
  margin: 0;
  background: rgb(59, 59, 73);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Psl {
  background-image: url(./psl.png);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: rgb(80, 83, 83);
  border: 5px solid rgb(0, 0, 0);
  float: left;
  font-size: 200px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.resetButton {
  align-items: center;
}
